.bar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(44, 172, 194, 0.8);
  color: black; }

.nav-link {
  font-weight: 500;
  color: #303030; }

.homepage {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 166, 0, 0.22), rgba(109, 90, 43, 0.3)), url(/video/sky.jpg);
  background-repeat: no-repeat; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo img {
  height: 150px;
  width: 150px; }

.logo img:hover {
  height: 200px;
  width: 200px; }

.logomini {
  width: 40px; }

.carousel-inner {
  height: 350px;
  margin-top: 80px; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 172, 194, 0.7); }

.rij {
  display: flex;
  justify-content: center; }

.in {
  color: #0070a3; }

.inst {
  height: 50px;
  width: 50px; }

.color {
  background-color: #2cacc2; }

.info {
  background-color: #ebebeb; }

.color2 {
  background-color: rgba(44, 172, 194, 0.7); }

.p {
  font-weight: 500;
  text-align: justify;
  width: 400px; }

.container {
  margin-left: 20px;
  margin-top: 80px; }

.info {
  background-image: linear-gradient(rgba(255, 166, 0, 0.22), rgba(109, 90, 43, 0.3)), url(/video/sky.jpg); }

@media only screen and (max-width: 1000px) {
  .p {
    width: 300px; }
  .carousel-inner {
    margin-top: 0px; } }

@media only screen and (max-width: 800px) {
  .p {
    width: 400px;
    padding-left: 20px; } }

.kader {
  background-color: rgba(44, 172, 194, 0.5);
  padding: 10px;
  padding-bottom: 8px; }
